<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="https://hcmc.uvic.ca/ns/">
    <rules>
        <rule xpath="span[@class='name']" weight="2"/>
        <rule xpath="*[matches(local-name(),'^h\d+$')]" weight="2"/>
        <rule xpath="span[@class='topo'][ancestor::div[@id='toponymInfo']]" weight="2"/>
        <rule xpath="span[@class='expan'][parent::span[@data-el='choice'][span[@class='abbr']]]" weight="0"/>
        <rule xpath="div[@id='metadata']" weight="0"/>
        <rule xpath="div[@id='footer']" weight="0"/>
        <rule xpath="body/header" weight="0"/>
    </rules>
    <contexts>
        <rule xpath="span[@class='stage']"/>
        <rule xpath="span[@class='blockquote']"/>
    </contexts>
</config>
