<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://hcmc.uvic.ca/ns/staticSearch">
    <params>
        <searchFile>test/search.html</searchFile>
        <recurse>true<!--Need to set recurse to true for the test--></recurse>
        <phrasalSearch>true</phrasalSearch>
        <createContexts>true</createContexts>
        <!--NOTE: If phrasalSearch is set to TRUE, then
        maxContexts prop will be ignored-->
        <maxContexts>3</maxContexts>
        <totalKwicLength>15</totalKwicLength>
        <kwicTruncateString>...</kwicTruncateString>
        <verbose>true</verbose>
        <stopwordsFile>xsl/english_stopwords.txt</stopwordsFile>
        <dictionaryFile>xsl/english_words.txt</dictionaryFile>
        <replacementsFile>xsl/replacements.txt</replacementsFile>
        <indentJSON>true</indentJSON>
    </params>
    
    <rules>
        <rule xpath="*[matches(@class,'(^|\s)toponym(\s|$)')]" weight="2"/>
        <rule xpath="abbr[parent::span/span[@class='expan']]" weight="0"/>
      <!--  <rule xpath="body[not(ancestor::html/@id ='foreign')]" weight="0"/>-->
    </rules>
    
    <contexts>
        <rule xpath="*[@class='ed_note']"/>
        <rule xpath="div[@class='not_context']" context="false"/>
    </contexts>
</config>
