<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://hcmc.uvic.ca/ns">
    <params>
        <baseDir>.</baseDir>
        <collectionDir>test</collectionDir>
        <tempDir>temp</tempDir>
        <outDir>site/js/</outDir>
        <createContexts>true</createContexts>
        <maxContexts>3</maxContexts>
        <!--NOTE: If NGRAMS is set to TRUE, then
        maxContents prop will be ignored-->
        <ngrams>true</ngrams>
        <verbose>true</verbose>
        <stopwordsFile>xsl/english_stopwords.txt</stopwordsFile>
    </params>
    
    <rules>
        <rule xpath="*[matches(@class,'(^|\s)toponym(\s|$)')]" weight="2"/>
        <rule xpath="abbr[parent::span/span[@class='expan']]" weight="0"/>
    </rules>
    
    <contexts>
        <rule xpath="span[@class='stage']"/>
        <rule xpath="span[@class='blockquote']"/>
    </contexts>
</config>
