/* This CSS belongs and applies only to the StaticSearch 
 * test suite, and is never needed in a working search 
 * application context. */

/* Test that scrolling works with fixed header. */

h1{
    position: fixed;
    background-color: white;
    margin: 0;
    padding: 1rem;
    width: 100%;
}

main{
    padding-top: 6rem;
}

#testResults{
  margin: 2em;
  border-top: solid 1pt black;
}
.success{
  background-color: #ccffcc;
}
.failure{
  background-color: #ffcccc;
}
#ssResults li[data-ss-img]{
  margin-top:1em;
}
#ssResults li[data-ss-img] > img{
  display: block;
  max-width: 100%;
}
div#ssResults > ul > li > a > img {
  max-width: 4em;
}